


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #f8fafc;
}

.logo {
  color: #2563eb;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
